.flip-container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.flipper {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  /* Add your back styles here */
}

/* Add a class to trigger the flip */
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}
